/src/resource.aps
/project-vs2005/files-reorder.ncb
/project-vs2005/files-reorder.suo
/project-vs2005/files-reorder.vcproj.*
/project-vs2005/Debug
/project-vs2005/Release
/files-reorder-vs2005.exe
/project-vs2022/.vs
/project-vs2022/Debug
/project-vs2022/Release
/project-vs2022/x64
/project-vs2022/project-vs2022.vcxproj.*